_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
Gemfile.lock
*.gem
*.rbc
.config
coverage/
InstalledFiles
pkg/
spec/reports/
test/tmp/
test/version_tmp/
tmp/
.DS_Store
hash_names.csv